.slidev-layout p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.slidev-layout {
  font-size: 1.4rem;
}

.slidev-layout h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

pre {
  overflow: hidden !important;
}

pre code {
  overflow: hidden;
}